body {
    background-color: #2a2a2a;
}

.head {
    display:flex;
    align-items: center;
    flex-direction: column;
    font-size: larger;
    color: antiquewhite;
}
.scoreRow{
    margin: 50px 0;
    display: flex;
    justify-content: space-evenly;
    user-select: none;
}
.scoreCard1{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 40px;
    background-color: #1f1f1f;
    flex-basis: 20%;
    flex-direction: column;
}
.scoreCard2{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 40px;
    background-color: #1f1f1f;
    flex-basis: 20%;
    flex-direction: column;
}

.scoreCardChoice {
    color: antiquewhite;
    background-color: #1f1f1f;
    display: flex;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 40px;
    font-size: 30px;
    text-align: center;
    flex-basis: 20%;
    flex-direction: column;
}

.score {
    color: antiquewhite;
    display: flex;
    margin: auto;
    padding: 10px;
    text-align: center;
    align-items: center;
    flex: 2;
    flex-basis: 10%;
    font-size: 30px;

}
.score1 {
    color: antiquewhite;
    flex: 1;
    padding: 10px;
    font-size: 30px;
}

.score2 {
    color: antiquewhite;
    flex: 1;
    padding: 10px;
    font-size: 30px;

}

.gameResult {
    color: antiquewhite;
    flex: 1;
    padding: 5px;
    font-size: 30px;
}
.choiceRow {
    display: flex;
    flex-direction: column;
}

.choiceText{
    color: antiquewhite;
    font-size: 20px;
    font-weight: 300;
    margin: auto;
    padding: 20px;
}
.choices {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.choiceCard {
    display: flex;
    box-sizing: border-box;
    border-radius: 25px;
    height: 200px;
    padding: 30px;
    background-color: darkgray;
    flex-basis: 25%;
    transition: all 0.2s ease;
    user-select: none;
}

.choiceCard:hover {
    transition: all 0.2s ease;
    background-color: rgb(87, 87, 87);
}

.choice {
    margin: auto;
    font-size: 40px;
}

.endGameCard {
    transform: translate(-50%,-50%) scale(0);

}

.endGameCard.active { 
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    transition: 400ms ease-in-out;
    z-index: 1;
    border: 3px solid aquamarine;
    border-radius: 15px;
    background-color: rgb(31, 31, 31);
    font-size: 30px;
    padding: 60px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.endGameResult {
    font-size: 30px;
    color: antiquewhite;
    flex: 1;
    margin: 20px;
}

.replayPrompt {
    font-size: 30px;
    color: antiquewhite;
    margin: 20px;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.restartBtn {
    flex: 1;
    font-size: 30px;
    padding: 20px;
    border: 2px solid lightgray;
    border-radius: 12px;
    color: rgb(88, 233, 88);
    margin: 20px;
}

.stopBtn {
    flex: 1;
    font-size: 30px;
    padding: 20px;
    border: 2px solid lightgray;
    border-radius: 12px;
    color: rgb(231, 60, 60);
    margin: 20px;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}

.overlay.active {
    display: block;
    background-color: rgb(80, 80, 80);
}